.wrapper {
  min-height: 100%;
  padding: 82px 0 40px;
  background: #ffffff;
}

.content {
  width: 770px;
  margin: 0 auto;
}

.brand {
  margin: 0 0 34px;
  text-align: center;
  color: #1182ee;
  font-size: 74px;
  font-weight: 900;
}

.logo {
  margin-top: 80px;
  margin-bottom: 30px;
}